html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#app {
  height: 100%;
  padding: 0;
  margin: 0; 
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #A8ABB2;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #A8ABB2;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #A8ABB2;
}